/* principal */

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 2em 2em 2em 2em
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation ul{
    display: flex;
    flex-direction: row;

}

.navigation li {
    list-style: none;
}

.navigation a{
    text-decoration: none;
    margin-left: 5em;
    padding-top: 3.3em;
    font-weight: bold;
    color: black;
}

.navigation a:hover {
    font-weight: normal;
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

nav .inscrire{
    color: #0065FC;
}

/* Zone de recherche */

.search h1{
    font-size: 1.5em;
}

.bouton_recherche{
    display: flex;
    margin-bottom: 1%;
}

.search i{
    background-color: #F2F2F2;
    border-style: solid ;
    border-right-style: none;
    border-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0.8% 1% 0.8% 1%;
}

.search input{
    border-style: solid;
    border-color: #F2F2F2;
    padding-left: 1.5%;
    padding-right: 2.5%;
}

.search button{
    background-color: #0065FC;
    border-style: solid;
    border-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding-right: 1%;
    padding-left: 1%;
}

.zone_recherche::placeholder{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

/* boutons filtre */

.filtre{
    display: flex;
    align-items: center;
}

.filtre a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    border: solid 3px #F2F2F2;
    border-left: none;
    border-radius: 50px;
    margin-left: 2%;
    padding-right: 5%;
    white-space: nowrap;
}

.filtre a:hover{
    font-weight: normal;
    color: #0065FC;
    border: 4px solid #0065FC;
}

.filtre i{
    border-style: solid; 
    border-color: #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 100%;
    color: #0065FC;
    padding: 10%;
    margin-right: 10%;
}

/* texte info */

.info{
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.info i{
    color: #0065FC;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 100%;
    font-size: 1em;
    margin-right: 1%;
    padding: 0.4% 0.7% 0.4% 0.7%;
}

.info p{
    font-size: 1em;
}

/* principal */

section{
    display: flex;
}

#hebergements {
    display: flex;
    flex-wrap: wrap;
    border: solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 20px;
    max-width: 60%; 
}

#hebergements h2{
    width: 100%;
    text-align: left;
    margin-left: 5%;
}

.fiche{
    width: 25%;
    height: 35%;
    margin-left: 3%;
    padding: 1%;
    border: solid 1px white;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#hebergements img{
    width: 100%;
}

aside{
    display: flex;
    flex-direction: column;
    border: solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 2%;
}


aside img{
    width: 10%;
}
