/* principal */

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 2em 2em 2em 2em
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation ul{
    display: flex;
    flex-direction: row;

}

.navigation li {
    list-style: none;
}

.navigation a{
    text-decoration: none;
    margin-left: 5em;
    padding-top: 3.3em;
    font-weight: bold;
    color: black;
}

.navigation a:hover {
    font-weight: normal;
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

nav .inscrire{
    color: #0065FC;
}

/* Zone de recherche */

.search h1{
    font-size: 1.5em;
}

.bouton_recherche{
    display: flex;
    margin-bottom: 1%;
}

.search i{
    background-color: #F2F2F2;
    border-style: solid ;
    border-right-style: none;
    border-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0.8% 1% 0.8% 1%;
}

.search input{
    border-style: solid;
    border-color: #F2F2F2;
    padding-left: 1.5%;
    padding-right: 2.5%;
}

.search button{
    background-color: #0065FC;
    border-style: solid;
    border-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding-right: 1%;
    padding-left: 1%;
}

.zone_recherche::placeholder{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

/* boutons filtre */

.filtre{
    display: flex;
    align-items: center;
}

.filtre a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    border: solid 3px #F2F2F2;
    border-left: none;
    border-radius: 50px;
    margin-left: 2%;
    padding-right: 5%;
    white-space: nowrap;
}

.filtre a:hover{
    font-weight: normal;
    color: #0065FC;
    border: 3px solid #0065FC;
}

.filtre i{
    border-style: solid; 
    border-color: #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 100%;
    color: #0065FC;
    padding: 10%;
    margin-right: 10%;
}

.money{
    font-size: 3em;
}

/* texte info */

.info{
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.info i{
    color: #0065FC;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 100%;
    font-size: 1em;
    margin-right: 1%;
    padding: 0.4% 0.7% 0.4% 0.7%;
}

.info p{
    font-size: 1em;
}

/* principal */

section{
    display: flex;
}

#hebergements {
    display: flex;
    flex-wrap: wrap;
    border: solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 20px;
    max-width: 70%; 
    margin-right: 2%;
}

#hebergements h2{
    width: 100%;
    text-align: left;
    margin-left: 5%;
}

/* fiches photos hotels */

.fichecadre{
    width: 25%;
    height: 35%;
    border: solid 1px white;
    background-color: white;
    margin-left: 5%;
    border-radius: 25px;
}

.fiche1img{
    background-image: url(pictures/hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fiche2img{
    background-image: url(pictures/hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fiche3img{
    background-image: url(pictures/hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fiche4img{
    background-image: url(pictures/hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fiche5img{
    background-image: url(pictures/hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fiche6img{
    background-image: url(pictures/hebergements/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#hebergements a{
    text-decoration: none;
    font-size: 0.8em;

}
/* aside les plus populaires */
aside{
    border: solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 20%;
}


aside img{
    width: 10%;
}
