/* principal */

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    max-width: 1440px;
    margin: auto;
    padding: 40px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation ul{
    display: flex;
    flex-direction: row;

}

.navigation li {
    list-style: none;
}

.navigation a{
    text-decoration: none;
    margin-left: 5em;
    padding-top: 3.3em;
    font-weight: bold;
    color: black;
}

.navigation a:hover {
    font-weight: normal;
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

nav .inscrire{
    color: #0065FC;
}

/* Zone de recherche */

.search h1{
    font-size: 1.5em;
}

.bouton_recherche{
    display: flex;
    margin-bottom: 1%;
}

.search i{
    background-color: #F2F2F2;
    border-style: solid ;
    border-right-style: none;
    border-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0.8% 1% 0.8% 1%;
}

.search input{
    border-style: solid;
    border-color: #F2F2F2;
    padding-left: 1.5%;
    padding-right: 2.5%;
}

.search button{
    background-color: #0065FC;
    border-style: solid;
    border-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding-right: 1%;
    padding-left: 1%;
}

.zone_recherche::placeholder{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

/* boutons filtre */

.filtre{
    display: flex;
    align-items: center;
}

.filtre a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    border: solid 3px #F2F2F2;
    border-left: none;
    border-radius: 50px;
    margin-left: 25px;
    padding-right: 20px;
    white-space: nowrap;
    color: black;
}

.filtre a:hover{
    font-weight: normal;
    color: #0065FC;
    border: 3px solid #0065FC;
}

.filtre i{
    border-style: solid; 
    border-color: #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 100%;
    color: #0065FC;
    padding: 15px;
    margin-right: 10px;
}

.filtre h2{
    font-size: 1.2em;
}
/* texte info */

.info{
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.info i{
    color: #0065FC;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 100%;
    font-size: 1em;
    margin-right: 1%;
    padding: 0.4% 0.7% 0.4% 0.7%;
}

.info p{
    font-size: 1em;
}

/* principal */

article{
    display: flex;
    margin-bottom: 40px;

}

section{
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 40px;
    padding: 40px;
}

.afficher a{
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    text-decoration: none;
}

#hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#hebergements a{
    text-decoration: none;
    font-size: 0.9em;
    color: black;
}

#hebergements h3{
    margin-left: 10px;
}

#hebergements p{
    margin-left: 10px;
}

.star{
    margin-left: 10px;
    font-size: 0.8em;
}

/* fiches photos hotels */

.fichecadre{
    width: 248px;
    height: 200px;
    background-color: white;
    border-radius: 25px;
    padding: 0.5%;
    margin-bottom: 40px;
    box-shadow: 5px 5px 10px grey;
    line-height: 0.5em;
}

.fichecadre i{
    color: #0065FC;
}

.fiche1img{
    background-image: url(pictures/hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fiche2img{
    background-image: url(pictures/hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fiche3img{
    background-image: url(pictures/hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fiche4img{
    background-image: url(pictures/hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fiche5img{
    background-image: url(pictures/hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fiche6img{
    background-image: url(pictures/hebergements/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* aside les plus populaires */

aside{
    border: solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
}

aside h2{
    display: flex;
    justify-content: space-between;
}

aside a{
    display: flex;
    color: black;
    font-size: 0.9em;
    text-decoration: none;
}

aside a i{
    color: #0065FC;
}

.fichecadre_aside{
    display: flex;
    width: 345px;
    height: 145px;
    background-color: white;
    border-radius: 25px;
    padding: 1%;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px grey;
}

.fiche1img_aside{
    background-image: url(pictures/hebergements/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 20px;
}

.fiche2img_aside{
    background-image: url(pictures/hebergements/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 20px;
}

.fiche3img_aside{
    background-image: url(pictures/hebergements/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 20px;
}

/* activités */

#activites{
    display: flex;
}
#activites img{
    width: 50%;
}
